.taskCard{ 
    cursor: move; 
    border-radius: 0.5rem;
    background-color:  rgba(232, 232, 232, 0.1);
    padding: 1rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s; 

}
.taskText{
  &:hover {  
    color: wheat;
    box-shadow: 0px 4px 6px rgba(228, 105, 105, 0.345);   
  }  
}
.editMode{
  color: black;
  width: 100%;
  border-radius: 2px;
  background-color:  rgba(232, 232, 232, 0.1);
}
